

.imagenbanner{
	width: 100%;
	height: 200px;
	
}
.baner {
	width: 100%;
	height: 200px;
	position: relative;
}

.pagina1pagina2pagina3 {
	width:  100%;
	height: 50px;
	border-style: solid;
	border-color: black;
	background:white;
	color:black;
	position: relative;
	}





















